<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" name="viewport"
          content="width=device-width, initial-scale=1, IE=edge"/>
    <title>Inbox</title>
    <div th:replace="fragments/bootstrap :: bootstrap"></div>

    <style>
    .mainbox {
      display: grid;

      grid-template-areas:
        "header header header"
        "nav content content"
        "footer footer footer";

      grid-template-columns: 300px 1fr;
      grid-template-rows: auto 1fr auto;
      grid-gap: 10px;

      height: 100vh;
    }

    header {
      grid-area: header;
    }

    nav {
      grid-area: nav;
      margin-left: 0.5rem;
    }

    main {
      grid-area: content;
    }

    footer {
      grid-area: footer;
    }

    .body-text {
        white-space: pre-wrap;
    }

    </style>

</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container mainbox">

    <div class="mt-3">
        <div th:replace="fragments/frags :: welcome"></div>
    </div>

    <nav>
        <div class="card mb-2">
            <a href="/compose" class="btn btn-primary">Compose message</a>
        </div>
        <div
                th:insert="components/folder-list :: folder-list (panelName = 'Folders', folders = ${defaultFolders}, folderToUnreadCounts = ${folderToUnreadCounts})"
        ></div>
        <div
                th:insert="components/folder-list :: folder-list (panelName = 'My folders', folders = ${userFolders}, folderToUnreadCounts = ${folderToUnreadCounts})"
        ></div>
    </nav>

    <main>
        <div class="card">
            <div class="card-header">View Email</div>
            <dl class="card-body">
                <div class="mb-3">
                    <dt class="form-label">From</dt>
                    <dd th:text="${email.from}"></dd>
                </div>
                <div class="mb-3">
                    <dt class="form-label">To</dt>
                    <dd th:text="${toIds}"></dd>
                </div>
                <div class="mb-3">
                    <dt class="form-label">Subject</dt>
                    <dd th:text="${email.subject}"></dd>
                </div>
                <div class="mb-3">
                    <dt class="form-label">Body</dt>
                    <dd class="body-text" th:text="${email.body}"></dd>
                </div>


                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Move to folder
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li th:each="folder : ${defaultFolders}">
                            <a class="dropdown-item" th:text="${folder.label}" href="#">Action</a>
                        </li>
                    </ul>



                <a th:href="@{'/compose?to=' + ${email.from} + '&id=' + ${email.id} }" type="button"
                   class="btn btn-primary">Reply</a>
                <a th:href="@{'/compose?to=' + ${email.from} + ', ' + ${toIds} + '&id=' + ${email.id} }" type="button"
                   class="btn btn-primary">Reply All</a>

                <!-- <form style="display:inline-block;"><select id="moveToFolder" name="moveToFolder" class="form-select" aria-label="Move to folder">
                      <option th:each="folder : ${defaultFolders}" th:text="${folder.label}">Status</option>
                    </select>
                    <button href="/" class="btn btn-secondary" type="button">Move</button>
                  </form> -->

                <a href="/" class="btn btn-danger" type="button">Cancel</a>
            </dl>
        </div>
    </main>
</div>

</body>
</html>
